Checks: >
    clang-analyzer-*,
    concurrency-*,
    bugprone-*,
    cppcoreguidelines-*,
    modernize-*,
    readability-*,
    portability-*,
    performance-*,
    misc-*,
    -misc-non-private-member-variables-in-classes
WarningsAsErrors: ""
